@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto</h1>
    <p class="display-6">Quale servizio si vuole utilizzare?</p>
    <div class="d-flex justify-content-evenly">
        <a class="btn btn-warning" asp-controller="Anagrafe" asp-action="AggiungiAnagrafe">Aggiungi Anagrafe</a>
        <a class="btn btn-warning" asp-controller="Verbale" asp-action="AggiungiVerbale">Aggiungi Verbale</a>
        <a class="btn btn-warning" asp-controller="Funzionalita" asp-action="Index">Funzionalità Aggiuntive</a>
    </div>
</div>
