@*
    TASK DA FARE:
    -Collegare il database al progetto
    -Creare un form per aggiungere un anagrafe che reindirizza alla home al clic e dà un feedback di aggiunta
    -Creare una view per visualizzare in una tabella l'elenco delle violazioni
    -Creare un form per compilare un verbale, simile ad anagrafe (si appoggia a due diverse tabelle)
    -Creare la view delle sezioni appena ottengo i dati
    -fai un altro controller che nella home abbia 4 link, ognuno dei quali è una action diversa che fa le 4 query select
*@


@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
